.navbar-custom {
    background-color:#2C6700;
    color:#ffffff;
    border-radius:0;
}

.navbar-custom .navbar-nav > li > a {
    color:#fff;
}

.navbar-custom .navbar-nav > li > a:focus {
    background-color:#347a00;
}

.navbar-nav > li > a:hover {
  background-color:#347a00;
}

.navbar-custom .navbar-nav > .active > a, .navbar-nav > .active > a:hover, .navbar-nav > .active > a:focus {
    color: #ffffff;
    background-color:#92CD00;
}
.navbar-custom .navbar-brand {
    color:#eeeeee;
}

@media (max-width: @screen-sm) {
  .huge{
    font-size: 20px;
  }
}

h1 {
  color: #f47d42;
}
